# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

In [4]:
import csv
with open("/Users/peidacai/GA-DSI/projects/projects-weekly/project-01/assets/sat_scores.csv", "rU") as f:
    reader = csv.reader(f)
    for i, row in enumerate(reader):
        print i,row

0 ['State', 'Rate', 'Verbal', 'Math']
1 ['CT', '82', '509', '510']
2 ['NJ', '81', '499', '513']
3 ['MA', '79', '511', '515']
4 ['NY', '77', '495', '505']
5 ['NH', '72', '520', '516']
6 ['RI', '71', '501', '499']
7 ['PA', '71', '500', '499']
8 ['VT', '69', '511', '506']
9 ['ME', '69', '506', '500']
10 ['VA', '68', '510', '501']
11 ['DE', '67', '501', '499']
12 ['MD', '65', '508', '510']
13 ['NC', '65', '493', '499']
14 ['GA', '63', '491', '489']
15 ['IN', '60', '499', '501']
16 ['SC', '57', '486', '488']
17 ['DC', '56', '482', '474']
18 ['OR', '55', '526', '526']
19 ['FL', '54', '498', '499']
20 ['WA', '53', '527', '527']
21 ['TX', '53', '493', '499']
22 ['HI', '52', '485', '515']
23 ['AK', '51', '514', '510']
24 ['CA', '51', '498', '517']
25 ['AZ', '34', '523', '525']
26 ['NV', '33', '509', '515']
27 ['CO', '31', '539', '542']
28 ['OH', '26', '534', '439']
29 ['MT', '23', '539', '539']
30 ['WV', '18', '527', '512']
31 ['ID', '17', '543', '542']
32 ['TN', '13', '562', '553']
33 ['NM', '13', '551', '542']
34 ['IL', '12', '576', '589']
35 ['KY', '12', '550', '550']
36 ['WY', '11', '547', '545']
37 ['MI', '11', '561', '572']
38 ['MN', '9', '580', '589']
39 ['KS', '9', '577', '580']
40 ['AL', '9', '559', '554']
41 ['NE', '8', '562', '568']
42 ['OK', '8', '567', '561']
43 ['MO', '8', '577', '577']
44 ['LA', '7', '564', '562']
45 ['WI', '6', '584', '596']
46 ['AR', '6', '562', '550']
47 ['UT', '5', '575', '570']
48 ['IA', '5', '593', '603']
49 ['SD', '4', '577', '582']
50 ['ND', '4', '592', '599']
51 ['MS', '4', '566', '551']
52 ['All', '45', '506', '514']

##### 1. What does the data describe?

$SAT\ scores\ for\ all\ 50\ states,\ plus\ DC.$

##### 2. Does the data look complete? Are there any obvious issues with the observations?

$The\ data\ does\ seemed\ to\ be\ complete,\ however,\ it\ could\ be\ richer\ if\ it\ included\ number\ of\ samples\ from\ each\ state.$

##### 3. Create a data dictionary for the dataset.

In [5]:
# dictionary to store SAT dataset
sat_dict = {}

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [41]:
sat_list = []
with open("/Users/peidacai/GA-DSI/projects/projects-weekly/project-01/assets/sat_scores.csv", "rU") as f:
    reader = csv.reader(f)
    for row in (reader):
        sat_list.append(row)

##### 5. Print the data

In [42]:
import pprint
pprint.pprint(sat_list)

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [43]:
labels = sat_list[0]
print labels
del sat_list[0]
pprint.pprint(sat_list)

['State', 'Rate', 'Verbal', 'Math']
[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [44]:
state_names = [row.pop(0) for row in sat_list]
pprint.pprint(state_names)

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

##### 8. Print the types of each column

In [45]:
for i in sat_list[0]:
    print type(i)

<type 'str'>
<type 'str'>
<type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

$All\ needs\ to\ be\ reassigned\ as\ they\ are\ all\ string\ types.$

In [46]:
sat_list1 = sat_list

In [47]:
sat_list = [[float(item) for item in row] for row in sat_list]

In [48]:
sat_list

[[82.0, 509.0, 510.0],
 [81.0, 499.0, 513.0],
 [79.0, 511.0, 515.0],
 [77.0, 495.0, 505.0],
 [72.0, 520.0, 516.0],
 [71.0, 501.0, 499.0],
 [71.0, 500.0, 499.0],
 [69.0, 511.0, 506.0],
 [69.0, 506.0, 500.0],
 [68.0, 510.0, 501.0],
 [67.0, 501.0, 499.0],
 [65.0, 508.0, 510.0],
 [65.0, 493.0, 499.0],
 [63.0, 491.0, 489.0],
 [60.0, 499.0, 501.0],
 [57.0, 486.0, 488.0],
 [56.0, 482.0, 474.0],
 [55.0, 526.0, 526.0],
 [54.0, 498.0, 499.0],
 [53.0, 527.0, 527.0],
 [53.0, 493.0, 499.0],
 [52.0, 485.0, 515.0],
 [51.0, 514.0, 510.0],
 [51.0, 498.0, 517.0],
 [34.0, 523.0, 525.0],
 [33.0, 509.0, 515.0],
 [31.0, 539.0, 542.0],
 [26.0, 534.0, 439.0],
 [23.0, 539.0, 539.0],
 [18.0, 527.0, 512.0],
 [17.0, 543.0, 542.0],
 [13.0, 562.0, 553.0],
 [13.0, 551.0, 542.0],
 [12.0, 576.0, 589.0],
 [12.0, 550.0, 550.0],
 [11.0, 547.0, 545.0],
 [11.0, 561.0, 572.0],
 [9.0, 580.0, 589.0],
 [9.0, 577.0, 580.0],
 [9.0, 559.0, 554.0],
 [8.0, 562.0, 568.0],
 [8.0, 567.0, 561.0],
 [8.0, 577.0, 577.0],
 [7.0, 564.0, 562.0],
 [6.0, 584.0, 596.0],
 [6.0, 562.0, 550.0],
 [5.0, 575.0, 570.0],
 [5.0, 593.0, 603.0],
 [4.0, 577.0, 582.0],
 [4.0, 592.0, 599.0],
 [4.0, 566.0, 551.0],
 [45.0, 506.0, 514.0]]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [84]:
# It makes no sense to create a dictionary for each column mapping states to score for each column.
# So I created a dictionary for each row instead since each the scores of each state is stored in a row.

sat_dict = {k:v for k, v in zip(state_names, sat_list)}
sat_dict

{'AK': [51.0, 514.0, 510.0],
 'AL': [9.0, 559.0, 554.0],
 'AR': [6.0, 562.0, 550.0],
 'AZ': [34.0, 523.0, 525.0],
 'All': [45.0, 506.0, 514.0],
 'CA': [51.0, 498.0, 517.0],
 'CO': [31.0, 539.0, 542.0],
 'CT': [82.0, 509.0, 510.0],
 'DC': [56.0, 482.0, 474.0],
 'DE': [67.0, 501.0, 499.0],
 'FL': [54.0, 498.0, 499.0],
 'GA': [63.0, 491.0, 489.0],
 'HI': [52.0, 485.0, 515.0],
 'IA': [5.0, 593.0, 603.0],
 'ID': [17.0, 543.0, 542.0],
 'IL': [12.0, 576.0, 589.0],
 'IN': [60.0, 499.0, 501.0],
 'KS': [9.0, 577.0, 580.0],
 'KY': [12.0, 550.0, 550.0],
 'LA': [7.0, 564.0, 562.0],
 'MA': [79.0, 511.0, 515.0],
 'MD': [65.0, 508.0, 510.0],
 'ME': [69.0, 506.0, 500.0],
 'MI': [11.0, 561.0, 572.0],
 'MN': [9.0, 580.0, 589.0],
 'MO': [8.0, 577.0, 577.0],
 'MS': [4.0, 566.0, 551.0],
 'MT': [23.0, 539.0, 539.0],
 'NC': [65.0, 493.0, 499.0],
 'ND': [4.0, 592.0, 599.0],
 'NE': [8.0, 562.0, 568.0],
 'NH': [72.0, 520.0, 516.0],
 'NJ': [81.0, 499.0, 513.0],
 'NM': [13.0, 551.0, 542.0],
 'NV': [33.0, 509.0, 515.0],
 'NY': [77.0, 495.0, 505.0],
 'OH': [26.0, 534.0, 439.0],
 'OK': [8.0, 567.0, 561.0],
 'OR': [55.0, 526.0, 526.0],
 'PA': [71.0, 500.0, 499.0],
 'RI': [71.0, 501.0, 499.0],
 'SC': [57.0, 486.0, 488.0],
 'SD': [4.0, 577.0, 582.0],
 'TN': [13.0, 562.0, 553.0],
 'TX': [53.0, 493.0, 499.0],
 'UT': [5.0, 575.0, 570.0],
 'VA': [68.0, 510.0, 501.0],
 'VT': [69.0, 511.0, 506.0],
 'WA': [53.0, 527.0, 527.0],
 'WI': [6.0, 584.0, 596.0],
 'WV': [18.0, 527.0, 512.0],
 'WY': [11.0, 547.0, 545.0]}

In [62]:
import numpy as np
sat_array = np.array(sat_list)
sat_array

array([[  82.,  509.,  510.],
       [  81.,  499.,  513.],
       [  79.,  511.,  515.],
       [  77.,  495.,  505.],
       [  72.,  520.,  516.],
       [  71.,  501.,  499.],
       [  71.,  500.,  499.],
       [  69.,  511.,  506.],
       [  69.,  506.,  500.],
       [  68.,  510.,  501.],
       [  67.,  501.,  499.],
       [  65.,  508.,  510.],
       [  65.,  493.,  499.],
       [  63.,  491.,  489.],
       [  60.,  499.,  501.],
       [  57.,  486.,  488.],
       [  56.,  482.,  474.],
       [  55.,  526.,  526.],
       [  54.,  498.,  499.],
       [  53.,  527.,  527.],
       [  53.,  493.,  499.],
       [  52.,  485.,  515.],
       [  51.,  514.,  510.],
       [  51.,  498.,  517.],
       [  34.,  523.,  525.],
       [  33.,  509.,  515.],
       [  31.,  539.,  542.],
       [  26.,  534.,  439.],
       [  23.,  539.,  539.],
       [  18.,  527.,  512.],
       [  17.,  543.,  542.],
       [  13.,  562.,  553.],
       [  13.,  551.,  542.],
       [  12.,  576.,  589.],
       [  12.,  550.,  550.],
       [  11.,  547.,  545.],
       [  11.,  561.,  572.],
       [   9.,  580.,  589.],
       [   9.,  577.,  580.],
       [   9.,  559.,  554.],
       [   8.,  562.,  568.],
       [   8.,  567.,  561.],
       [   8.,  577.,  577.],
       [   7.,  564.,  562.],
       [   6.,  584.,  596.],
       [   6.,  562.,  550.],
       [   5.,  575.,  570.],
       [   5.,  593.,  603.],
       [   4.,  577.,  582.],
       [   4.,  592.,  599.],
       [   4.,  566.,  551.],
       [  45.,  506.,  514.]])

In [82]:
sat_array1 = sat_array[0]

array([  82.,  509.,  510.])

In [77]:
sat_dict = {}

for i in range(len(state_names)):
    sat_dict[state_names[i]] = sat_array[i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [75]:
sat_dict = {}

sat_dict[state_names[0]] = sat_array[0,0]
sat_dict

{'CT': 82.0}

In [71]:
sat_dict = [{k:v for k,v in zip(state_names, sat_array)}]
sat_dict

TypeError: unhashable type: 'numpy.ndarray'

##### 11. Create a dictionary with the values for each of the numeric columns

## Step 3: Describe the data

##### 12. Print the min and max of each column

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.