# Create a reference dataframe for all NYC zipcode on taxi data

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('/Users/peidacai/Desktop/taxi_df_dropoff_in_nyc_only.pkl', 'r') as f:
    taxi = pickle.load(f)

In [4]:
taxi.head(1)

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,...,improvement_surcharge,total_amount,trip_month,day_of_week,pickup_hour,dropoff_hour,trip_duration,Avg_spd,dropoff_point,zipcode
0,2015-07-01 00:00:20,2015-07-01 00:07:57,1,2.1,-73.98378,40.755219,1,-73.987389,40.733372,1,...,0.3,11.76,7,2,0,0,7.0,18.0,"[-73.9873886108, 40.7333717346]",10003

In [5]:
taxi.columns

Index([u'tpep_pickup_datetime', u'tpep_dropoff_datetime', u'passenger_count',
       u'trip_distance', u'pickup_longitude', u'pickup_latitude',
       u'RatecodeID', u'dropoff_longitude', u'dropoff_latitude',
       u'payment_type', u'fare_amount', u'extra', u'mta_tax', u'tip_amount',
       u'tolls_amount', u'improvement_surcharge', u'total_amount',
       u'trip_month', u'day_of_week', u'pickup_hour', u'dropoff_hour',
       u'trip_duration', u'Avg_spd', u'dropoff_point', u'zipcode'],
      dtype='object')

In [6]:
drophour = pd.get_dummies(taxi['dropoff_hour'], prefix='dropoff_hour')

In [7]:
drophour.shape

(1327236, 24)

In [8]:
dow = pd.get_dummies(taxi['day_of_week'], prefix='day')

In [13]:
sub_taxi = pd.concat([taxi['zipcode'], drophour, dow], axis = 1)

In [14]:
sub_taxi.head(1)

,zipcode,dropoff_hour_0,dropoff_hour_1,dropoff_hour_2,dropoff_hour_3,dropoff_hour_4,dropoff_hour_5,dropoff_hour_6,dropoff_hour_7,dropoff_hour_8,...,dropoff_hour_21,dropoff_hour_22,dropoff_hour_23,day_0,day_1,day_2,day_3,day_4,day_5,day_6
0,10003,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [39]:
taxi_zip = pd.pivot_table(sub_taxi, values=(list(dow.columns) + list(drophour.columns)), index=['zipcode'], aggfunc=sum)

In [22]:
# Load in a NYC Zipcode list

nyc_zip = pd.read_csv('../part-02/assets/data/NYC_zipcodes/nyc_zip.txt', header=None)
nyc_zip.head()

   0      1
0  0  10001
1  1  10002
2  2  10003
3  3  10004
4  4  10005

In [23]:
# Create a list of zipcodes which we do not have taxi info for.

nan_zip = []

for i in nyc_zip[1]:
    if i not in taxi_zip.index:
        nan_zip.append(i)

In [24]:
len(nan_zip)

8

In [34]:
estimation = {}

# defining the upper bound
max_zip = max(taxi_zip.index)

for i in nan_zip:
    
    ref_list = []
    # Number of neighboring zipcodes to consider
    total = 2

    count_up = 0
    new_zip = i
    
    # Getting 2 from higher zipcodes
    
    while (count_up < (total/2)) and new_zip <= max_zip:

        new_zip += 1
        if new_zip in taxi_zip.index:
            ref_list.append(new_zip)
            count_up += 1
            new_zip += 1

        else:
            new_zip += 1

    count_down = 0
    new_zip = i
    
    # 2 from lower zipcodes
    while count_down < (total - count_up) and new_zip > 10001:
        new_zip -= 1
        if new_zip in taxi_zip.index:
            ref_list.append(new_zip)
            count_up += 1
            new_zip -= 1

        else:
            new_zip -= 1
    
    estimation[i] = ref_list

In [42]:
round(65.5, 0)

66.0

In [58]:
max_zip

11697

In [57]:
estimation

{10302: [10303, 10301],
 10308: [10451, 10307],
 10309: [10310, 10306],
 11040: [11101, 11005],
 11096: [11101, 11005],
 11359: [11360, 11358],
 11451: [11694, 11436],
 11692: [11697, 11691]}

In [43]:
# Create an empty dictionary
vals = {}

for i in estimation:
    
    est_list = []
    
    for j in taxi_zip.columns:
    
        est_list.append(round(taxi_zip[taxi_zip.index.isin(estimation[i])][j].mean(),0))

    # Assigning the list as values to the corresponding key
    vals[i] = est_list

# Converting to dataframe
neighbour = pd.DataFrame(vals).T
neighbour.columns = taxi_zip.columns
neighbour.head()

,day_0,day_1,day_2,day_3,day_4,day_5,day_6,dropoff_hour_0,dropoff_hour_1,dropoff_hour_10,...,dropoff_hour_21,dropoff_hour_22,dropoff_hour_23,dropoff_hour_3,dropoff_hour_4,dropoff_hour_5,dropoff_hour_6,dropoff_hour_7,dropoff_hour_8,dropoff_hour_9
10302,3.0,5.0,3.0,5.0,3.0,3.0,4.0,1.0,0.0,1.0,...,3.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0
10308,46.0,55.0,54.0,62.0,57.0,62.0,58.0,19.0,13.0,24.0,...,24.0,15.0,23.0,5.0,8.0,8.0,10.0,12.0,14.0,17.0
10309,3.0,2.0,1.0,2.0,4.0,3.0,2.0,2.0,1.0,1.0,...,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
11040,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,209.0,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0
11096,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,209.0,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0

In [46]:
# Join to existing dataframe to complete taxi data for all NYC zipcodes
neighbour_taxi = pd.concat([neighbour, taxi_zip], axis = 0)
neighbour_taxi.shape

(187, 31)

In [47]:
neighbour_taxi.head()

,day_0,day_1,day_2,day_3,day_4,day_5,day_6,dropoff_hour_0,dropoff_hour_1,dropoff_hour_10,...,dropoff_hour_21,dropoff_hour_22,dropoff_hour_23,dropoff_hour_3,dropoff_hour_4,dropoff_hour_5,dropoff_hour_6,dropoff_hour_7,dropoff_hour_8,dropoff_hour_9
10302,3.0,5.0,3.0,5.0,3.0,3.0,4.0,1.0,0.0,1.0,...,3.0,3.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0
10308,46.0,55.0,54.0,62.0,57.0,62.0,58.0,19.0,13.0,24.0,...,24.0,15.0,23.0,5.0,8.0,8.0,10.0,12.0,14.0,17.0
10309,3.0,2.0,1.0,2.0,4.0,3.0,2.0,2.0,1.0,1.0,...,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
11040,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,209.0,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0
11096,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,209.0,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0

In [54]:
neighbour_taxi['dropoff_count'] = neighbour_taxi.iloc[:,0:7].sum(axis = 1)

In [56]:
neighbour_taxi.head(20)

,day_0,day_1,day_2,day_3,day_4,day_5,day_6,dropoff_hour_0,dropoff_hour_1,dropoff_hour_10,...,dropoff_hour_22,dropoff_hour_23,dropoff_hour_3,dropoff_hour_4,dropoff_hour_5,dropoff_hour_6,dropoff_hour_7,dropoff_hour_8,dropoff_hour_9,dropoff_count
10302,3.0,5.0,3.0,5.0,3.0,3.0,4.0,1.0,0.0,1.0,...,3.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,26.0
10308,46.0,55.0,54.0,62.0,57.0,62.0,58.0,19.0,13.0,24.0,...,15.0,23.0,5.0,8.0,8.0,10.0,12.0,14.0,17.0,394.0
10309,3.0,2.0,1.0,2.0,4.0,3.0,2.0,2.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,17.0
11040,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0,3896.0
11096,513.0,527.0,559.0,600.0,570.0,598.0,529.0,183.0,120.0,167.0,...,224.0,209.0,56.0,42.0,31.0,81.0,137.0,155.0,178.0,3896.0
11359,16.0,17.0,19.0,21.0,17.0,16.0,18.0,5.0,5.0,4.0,...,7.0,5.0,2.0,1.0,2.0,3.0,6.0,5.0,5.0,124.0
11451,25.0,37.0,34.0,26.0,39.0,41.0,31.0,11.0,6.0,9.0,...,12.0,11.0,6.0,3.0,2.0,5.0,6.0,8.0,9.0,233.0
11692,7.0,7.0,5.0,6.0,6.0,7.0,5.0,2.0,2.0,3.0,...,1.0,4.0,1.0,0.0,1.0,1.0,2.0,1.0,1.0,43.0
10001,11074.0,11872.0,12352.0,12811.0,12963.0,12880.0,11408.0,3484.0,2558.0,3978.0,...,4672.0,4169.0,1355.0,1070.0,857.0,1678.0,2844.0,3641.0,4001.0,85360.0
10002,2956.0,3249.0,3228.0,3352.0,3633.0,3949.0,3251.0,990.0,667.0,1033.0,...,1332.0,1204.0,377.0,288.0,243.0,436.0,738.0,984.0,1064.0,23618.0
10003,7294.0,8120.0,8358.0,8656.0,8978.0,9197.0,8015.0,2301.0,1704.0,2665.0,...,3309.0,2912.0,922.0,702.0,491.0,1104.0,1918.0,2435.0,2859.0,58618.0
10004,1157.0,1251.0,1289.0,1371.0,1206.0,1246.0,1116.0,368.0,226.0,389.0,...,466.0,419.0,139.0,116.0,96.0,189.0,304.0,395.0,423.0,8636.0
10005,838.0,913.0,948.0,980.0,887.0,940.0,891.0,254.0,199.0,299.0,...,354.0,346.0,74.0,78.0,53.0,114.0,213.0,298.0,334.0,6397.0
10006,467.0,544.0,540.0,599.0,537.0,606.0,530.0,154.0,97.0,190.0,...,198.0,199.0,55.0,48.0,40.0,80.0,135.0,162.0,165.0,3823.0
10007,1678.0,1870.0,1943.0,2034.0,1855.0,1897.0,1757.0,516.0,411.0,578.0,...,689.0,689.0,222.0,161.0,144.0,266.0,472.0,548.0,545.0,13034.0
10009,2870.0,3071.0,3330.0,3316.0,3725.0,3737.0,3099.0,900.0,653.0,1015.0,...,1358.0,1156.0,329.0,265.0,211.0,417.0,750.0,991.0,1027.0,23148.0
10010,5078.0,5604.0,5807.0,5907.0,5745.0,5832.0,5232.0,1617.0,1132.0,1716.0,...,2210.0,1975.0,579.0,421.0,405.0,770.0,1356.0,1771.0,1827.0,39205.0
10011,7251.0,7811.0,8218.0,8277.0,8409.0,8534.0,7420.0,2196.0,1603.0,2476.0,...,3151.0,2851.0,828.0,633.0,561.0,1108.0,1898.0,2463.0,2618.0,55920.0
10012,4271.0,4725.0,4798.0,4958.0,5096.0,5288.0,4485.0,1353.0,930.0,1565.0,...,1857.0,1644.0,475.0,421.0,342.0,635.0,1168.0,1473.0,1573.0,33621.0
10013,4138.0,4414.0,4728.0,4707.0,4740.0,4665.0,4188.0,1281.0,949.0,1425.0,...,1774.0,1582.0,482.0,382.0,314.0,617.0,1018.0,1379.0,1463.0,31580.0

In [62]:
with open('/Users/peidacai/Desktop/taxi_ref_df.pkl', 'w') as f:
    pickle.dump(neighbour_taxi, f)