### List comprehension independent practice

Each problem should be completed with a single list (or dictionary) comprehension!

In [1]:
import pandas as pd
import numpy as np
import string

#### Easy problems

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [2]:
strings = ['black','Yellow','ReD','GreeN','BLUe']

In [5]:
strings_up = [x.upper() for x in strings]
strings_up

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [6]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [10]:
num_even = [num for num in numbers if (num%2 == False)]
num_even

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [11]:
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']

In [17]:
char_convert = ["v"  if c in vowels else "?" if c not in alphabet else "c" for c in characters]
char_convert

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### Medium problems

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [18]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

In [23]:
num_mean = [np.mean(row) for row in number_sets]
num_mean

[24.199999999999999, 348.5, 45.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [24]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']

In [31]:
join_string = [x+y if (strings1.index(x) % 2 == 0) else y+x for x,y in zip(strings1, strings2)]
join_string

['alphaecho', 'foxtrotbravo', 'charliegolf', 'hoteldelta']

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [35]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]

In [55]:
df = pd.DataFrame({k:[v*x for x in multiples] for k, v in zip(columns, values)})
print df

   five  seven  twelve
0     5      7      12
1    10     14      24
2    15     21      36
3    20     28      48
4    25     35      60

#### Hard problems

##### 7. manually calculate the median of the first n numbers (from list "N") in list "X"

In [41]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [47]:
med_list = [np.median(X[:n]) for n in N]
med_list

[6.5, 3.0, 3.5, 4.5, 5.5]

##### 8. combine into a flat list: 

1. iterate the elements of one list 
2. iteratively multiply by them by the elements in the second list
3. then iteratively subtract the elements in a third list

e.g:

    a = [1,2]
    b = [0,1]
    c = [1,2]
    output = [0,0,0,-1,0,0,1,0]

In [50]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]

In [53]:
op = [(i*j)-k\
      for i in a\
      for j in b\
      for k in c
     ]

print op

[89, 88, 87, 44, 43, 42, 8, 7, 6, 69, 68, 67, 34, 33, 32, 6, 5, 4, 49, 48, 47, 24, 23, 22, 4, 3, 2]